label,
h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  padding: 4px 0;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 0;
}
